* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Card */

.card {
}

.card .btn {
  margin-top: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
