.posts {
  &List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &Title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
